#home-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: green;
}

#home-container-1 {
  display: flex;
  flex-direction: column;
}

#home-container-1 {
  background-color: red;
  width: 100vw;
  height: 500px;
}