
:root {
  --black: #272936;
  --white: #a3a5b1;
  --green1 : #85bdbc;
  --green2 : #beddd8;
  --pink : #f0e5e1;
}

#navbar-main-div {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
}

#main-content {
  flex: 1; 
  //background-color: white;
  padding: 8px;
}

#stucked-right-part {
  display: flex;
  margin-right: 30px;
  align-items: center;
  gap: 20px;
}

#stucked-right-part.item {
  margin: 5px 0;
  white-space: nowrap;
  display: flex;
}

.navbar-link {
  text-decoration: none;
  color: var(--black);
  font-weight: bolder ;
  font-size: 18px;
  transition: 0.2s ease;
}

.navbar-link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.nav-button-div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-link-div {
  position: absolute;
  left: 45%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: row;
  gap: 25px;
}